.AddProduct {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .AddProduct h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .AddProduct label {
    display: block;
    margin-bottom: 10px;
  }
  
  .AddProduct input,
  .AddProduct select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  .AddProduct button {
    width: 20%;
    margin: 0;
    background-color:  #cfbcb3;
    color: black;
    font-weight: 1000;
  }
  
  .AddProduct button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
    text-align: center;
  }
  
  .AddProduct label[for="category"] {
    display: block;
    margin-top: 15px;
  }