/* EditProduct.css */

.card {
    width: 80%;
    max-width: 500px;
    
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 
  button:active {
    width: 100%;
    margin: 0;
    background-color:  #827772;
    color: black;
    font-weight: 1000;
  }

  .success-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
  }
  