
.container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
  }
  

  form input {
    width: 100%;
    padding: 10px;
    
  }
  

  form label {
    display: block;
    font-weight: bold;
  }
  
 
  form button {
    width: 100%;
    margin: 0;
    background-color:  #cfbcb3;
    color: black;
    font-weight: 1000;
    cursor: pointer;
  }
  

  .edit-button {
    width: 100%;
    margin: 0;
    background-color:  #cfbcb3;
    color: black;
    font-weight: 1000;
    cursor: pointer;
  }
  
 
  .content {
    margin-top: 20px;
  }
  

  .content p {
    margin: 5px 0;
  }
  

  .content .edit-button {
    margin-top: 10px;
  }
  