
.container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
  }
  

  form input {
    width: 100%;
    padding: 10px;
    
  }
  

  form label {
    display: block;
    font-weight: bold;
  }
  
 
  form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  

  .edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
 
  .content {
    margin-top: 20px;
  }
  

  .content p {
    margin: 5px 0;
  }
  

  .content .edit-button {
    margin-top: 10px;
  }
  