.ProductsListPage {
  background-color: #F7ECE7;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px; 
}

.product-card {
  flex-basis: calc(32% - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  height: 400px;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-image {
  border-radius: 10px;
  margin: 10px;
  width: 70%;
}

.product-details-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.product-details-button:hover {
  background-color: #0056b3;
}


.card-container {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
  overflow: hidden;
}

.title-container {
  max-width: 100%;
  overflow: hidden;
}

.description-container {
  max-width: 100%;
  overflow: hidden;
}

.price-container {
  max-width: 100%;
  overflow: hidden;
}

.title-container h3,
.description-container h3,
.price-container h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}



.product-card .small-card {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}


.product-card .small-card.approved {
  background-color: #008000; 
}

.product-card .small-card.refused {
  background-color: #FF0000; 
}

.product-card .small-card.pending {
  background-color: #FFFF00; 
}
