.ProductsListPage {
  height: 100vh;
  background-color: #F7ECE7;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-card {
  flex-basis: calc(25% - 20px);
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  margin: 10px;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-image {
  border-radius: 10px;
  margin: 10px; 
  width: 70%;}


.product-details-button {
  background-color: #007BFF; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.product-details-button:hover {
  background-color: #0056b3; 
}
